@import "./theme-colors.scss";

.usa-card__container {
  color: $mocto__pink;
}

@media (max-width: 1023px) {
  .usa-logo__text {
    display: flex;
  }
}

.usa-menu-btn {
  background-color: $mocto__blue;
}
