//Theme colors with design tokens:
$mocto__blue-design-token: "blue-cool-70";
$mocto__highlight-blue-design-token: "blue-40v";
$mocto__pink-design-token: "magenta-40v";

//General theme colors:
$mocto__blue: #042d36;
$mocto__pink: #e1004b;
$mocto__highlight-blue: #007bff;
