@import "../theme-overrides/theme-colors.scss";

.language-buttons {
  display: flex;
  flex-direction: row-reverse;
  margin-right: auto;
  padding: 0;
}

@media (max-width: 640px) {
  .language-buttons__grid {
    display: flex;
    flex-direction: column;
  }
}
